<div id="main">
  <div id="container">
    <div class="course-title">
      <br>
      <h1><%= @course.name %></h1>

      <div class="course-content">
        <% 5.times do %>
          <div class="lessons">
            <div class="lesson-status">
              <i data-feather="square"></i>
            </div>
            <h2>LESSON</h2>
          </div>
        <% end %>
      </div>
    </div>          
  </div>
</div>


              

